<<<<<<< HEAD
//Phan toan - banner
.font-style{
	font-family: 'Satisfy', sans-serif;
	width: 100%;
	text-align: center;
}
#banner{
	width: 100%;
	height: 100vh;
	background: url(../img/banner-bg.jpg);
	background-size: cover;
	position: relative;
	.bg-img{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.61);
		background-size: cover;
		padding-top: 15%;
		h1{
			.font-style();
			color: orange;
			font-size: 40pt;
			font-weight: bold;
			
		}
		h2{
			.font-style();
			color: orange;
			font-size: 35pt;
		}
		p{
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: 25pt;
		}
	}
	
	#header{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		.pull-right{
			width: 35px;
			height: 35px;
			font-size: 25pt;
			color: #fff;
			float: right;
			text-align: center;
			line-height: 35px;
			margin-top: 5%;
			margin-right: 5%;
			
		}
		.sidenav{
			height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 1;
		    top: 0;
		    right: 0;
		    background-color: #111;
		    overflow-x: hidden;
		    padding-top: 60px;
		    transition: 0.5s;
		    a{
		    	padding: 8px 8px 8px 32px;
			    text-decoration: none;
			    font-size: 25px;
			    color: #818181;
			    display: block;
			    transition: 0.3s;
			    &:hover{
			    	color: #fff;
			    }
		    }
		}
	}
}// end banner
=======
.nghia{
	background:white;
	
	float: left;
	.n1{
		
		float: left;
		background:white;
		
		.header-h {
   		 color: #FFB03B;
   			 font-size: 46px;
   			 font-family: 'Satisfy', sans-serif;
   			  font-weight: 300; 
				}
		.header-p{
			color:gray;
		}		
	}
	.n2{
		height:100px;
		float: left;
		background:none;
		ul{
			margin:0 auto;
			li{
					list-style:none;
    				color: #fff;
    				background:none;
    				margin:5px;
    				border: 1px solid black;
    				
				.n5{
					background: #FFB03B;
  				 	 color: white;
   					 

   					
						
				

					
				}
				a{
					background:none;
  				 	color:black;
   					}	
			}
		}
	}
	.n3{
		height:200px;
		float: left;
		background:none;
		.menu-restaurant{
    			width: 50%;
   			 float: left;
   			 padding: 15px;
   		 position: relative;
				}
				.menu-title {
   				 float: left;
   		 font-family: Montserrat,arial;
    			text-transform: uppercase;
    			letter-spacing: 1px;
    		color: #FFB03B;
				}
						.menu-line {
    			position: absolute;
    			bottom: 6px;
    			border-bottom: 1px dotted rgba(0,0,0,.3);
   				 margin-left: .6rem;
   					 margin-right: .6rem;
					}
					   .menu-price {
   				 font-weight: 600;
   			 position: absolute;
  			  right: 0;
  			  top: 0;
				}
							.menu-subtitle {
  			  display: block;
   				 float: left;
   				 color: #B1B1B1;
    			font-family: Satisfy,'Open Sans',arial;
   				 font-size: 1.2rem;
				}
				  span.clearfix {
   				 position: relative;
   			 display: block;
				}

	}	
}
>>>>>>> 45a1a67b4ac0998289068b5b451cce27fb1cada6
